body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  background-color: #121212;
  color: #f1f1f1;
}

.card {
  background-color: #1e1e1e;
  color: white;
  border: none;
}

.navbar {
  background-color: #91a2bc !important;
}

.sidebar {
  width: 230px;
  background: #0d1117;
  height: 100vh;
  position: fixed;
  padding-top: 20px;
}

.sidebar a {
  display: block;
  color: #c9d1d9;
  padding: 10px 20px;
  text-decoration: none;
}

.sidebar a:hover {
  background: #21262d;
}

.main-content {
  margin-left: 240px;
  padding: 20px;
}
.light-theme {
  background-color: #f8f9fa;
  color: #000;
}

.dark-theme {
  background-color: #121212;
  color: #fff;
}

.dark-theme .card {
  background-color: #1e1e1e;
  color: #fff;
}

.dark-theme .form-select {
  background-color: #333;
  color: #fff;
}
